<div class="position-team-btn">
    <div class="team-position">
        <mat-card class="team-container" *ngFor="let team of getlist()">
            <h2>{{team.teamName}}</h2>
            <table *ngFor="let user of getUserList()">
                <td>{{user.playerName}}</td>
            </table>
            <button (click)=" openAddUserDialog()" mat-raised-button color="primary">Add a player</button>
        </mat-card>

    </div>
    <div class="finish-btn-position">
        <button class="finish-btn d-none" id="finish" (click)="finishTheTeamName()" mat-raised-button color="primary">Finish</button>     
    </div>
</div>