<div id="btnAndText" class="bossel-text">
    <div style="display: none;" id="text">
        <h2>What is Boßeln ?</h2>

        <span>Boßeln is a traditional German sport that involves throwing a small ball (the "boßel") along a
            predetermined
            course,
            typically through rural landscapes or along roadsides. Players use a special stick to propel the ball as far
            as
            possible
            while adhering to the rules of the game. It's often played in teams, with each team taking turns to throw
            the
            ball and
            aiming to cover the course in the fewest throws. Boßeln is popular during the winter months and is enjoyed
            as
            both a
            competitive sport and a social activity.
        </span>
    </div>

    <div class="line"></div>
    <div id="started">
        <h2>Get started add a team</h2>
        <div class="example-button-container">
            <button (click)="openAddTeam()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div> 
        <button id="finish_add" style="margin-top: 50px;" (click)="startTheGame()" mat-raised-button color="primary">Finish the teams</button>     
    </div>
</div>