.bossel-text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    h2 {
        color: aliceblue;
     
    }

    span {
        color: aliceblue;
        
    }
}

.d-none {
    display: none;
}

.line {
    border-top: 3px solid rgb(12, 12, 148);
    margin-top: 20px;
    margin-bottom: 20px;
}


