.start-screen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(14, 14, 48);
    flex-direction: column;
    z-index: 2;

    h1 {
        font-size: 80px;
        color: aliceblue;
        margin-bottom: 60px;
        animation: myAnim 2s ease 0s 1 normal forwards;

        @keyframes myAnim {
            0% {
                opacity: 0;
                transform: translateX(250px) rotate(200deg);
            }
        
            100% {
                opacity: 1;
                transform: translateX(0) rotate(0deg);
            }
        }
    }
}

.d-none {
    display: none;
}